@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*------------------------navbar*/

.p2-logo{
    margin: 5px;
    background-position: center;
    min-height: 30px;
    min-width: 30px;
}

/*-----------------------jumbotron*/

.jumbotron{
    display: block;
    margin: 20px;
}

.display-4{
    font-family: "Exo", sans-serif;
    font-weight: 500;
}